.App {
  text-align: center;
  position:relative;
  min-height:100vh;
}
.line{
  width:25%;
  border-top:1px solid black;
}
.side-line{
  border-top:1px solid black;
}
.plus{
  position: relative;
  right:3%;
  bottom:0.5rem;
}
.minus{
  position: relative;
  right: 10%;
  top:1rem;
}